# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Model files (TOO LARGE for GitHub)
*.pkl
*.joblib

# Data files
*.csv

# Environment
.env
venv/

# Checkpoint files
.ipynb_checkpoints/
*_checkpoint*
